#homepage {
  /* rainbow gradient background */
  background: linear-gradient(to right, rgba(255,0,0,0.75), rgba(255,165,0,0.75), rgba(255,255,0,0.75), rgba(0,255,0,0.75), rgba(0,0,255,0.75), rgba(75,0,130,0.75), rgba(238,130,238,0.75));
}

#name-and-logo {
  text-align: center;
}

.game-name {
  font-size: 2.5em;
  font-family: "Permanent Marker", cursive bold;
  color: black;
}

#logo {
  width: 16em;
  height: 16em;
  margin-bottom: 1.5em;
}

#homepage-buttons {
  text-align: center;
}

button {
  margin-bottom: 1em;
  width: 25%;
  height: 4em;
  background-color: rgb(180,180,180);
}

button:hover {
  background-color: lightgray;
}

* {
  text-align: center;
}

input {
  margin: 1em 0 1em 0;
}
