* {
  text-align: center;
}

/* Background Animation */
@keyframes backgroundAnimation {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
body {
  background-image: url("../images/background-image.jpg");
  animation: backgroundAnimation 40s linear infinite;
  background-size: 150%;
  font-family: comic sans ms;
}

h2, h4 {
  color: black;
}

h2 {
  margin-bottom: 2em;
}

#homepage {
  /* rainbow gradient background */
  background: linear-gradient(rgba(255,0,0,0.75), rgba(255,165,0,0.75), rgba(255,255,0,0.75), rgba(0,255,0,0.75), rgba(0,0,255,0.75), rgba(75,0,130,0.75), rgba(238,130,238,0.75));
  background-size: 150%;
}

#name-and-logo {
  text-align: center;
}

#game-name {
  font-size: 2.5em;
  font-family: "Permanent Marker", cursive;
  color: black;
}

#logo {
  width: 16em;
  height: 16em;
}

#game-description {
  line-height: 150%;
}

#homepage-buttons {
  text-align: center;
}

button {
  margin-bottom: 2.5em;
  width: 25%;
  height: 4em;
  background-color: rgb(170,170,170);
  font-family: "Courier New";
  font-weight: 900;
}

a {
  display: block;
}

.back-button {
  width: 10%;
}

button:hover {
  background-color: rgb(220,220,220);
  cursor: pointer;
}

input {
  margin: 1em 0 1em 0;
}

#game-menu {
  margin-top: 5%;
}

/* Profile Page */
.email {
  font-size: 1.25em;
  font-weight: 800;
  margin: -1em 0 0 -0.25em;
  letter-spacing: 2px;
  color: RoyalBlue;
  text-shadow: 3px 0 skyblue;
}

#profile-page {
  background-color: rgba(200,200,200,0.90);
  width: 40%;
  margin: 0 auto;
}

/* Slideshow */
.user-icon {
  margin-top: 0.5em;
}

.text {
  font-size: 0.9em;
  margin-bottom: 0.25em;
}

.prev, .next {
  display: inline-block;
  padding: 0em 2em;
  transition: 0.5s ease;
  border: 1px solid rgb(80,80,80);
}

/* Tables */
table {
  margin: 0 auto;
  border: 1px solid gray;
  border-collapse: collapse;
}

td, th {
  border: 1px solid gray;
  width: 18em;
}

tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.75);
}

tr:nth-child(even) {
  background-color: rgba(160,160,160,0.75);
}

/* Game Page */
.question {
  display: inline-block;
  font-size: 1.75em;
  border: 2px solid lightgray;
  background-color: white;
  padding: 0.5em 1.25em;
}

.answer {
  display: inline-block;
  background-color: rgb(190,190,190);
  width: 35%;
  font-size: 1em;
  margin: 1em;
}

/* Submit Questions Page */
textarea {
  margin-top: 0.5em;
  resize: none;
}
