* {
  text-align: center;
}

/* Background Animation */
@keyframes backgroundAnimation {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
body {
  background-image: url("../images/background-image.jpg");
  animation: backgroundAnimation 40s linear infinite;
  background-size: 140%;
  font-family: comic sans ms;
}

h2, h4 {
  color: black;
}

h2 {
  margin-bottom: 2em;
}

#homepage {
  /* rainbow gradient background */
  background: linear-gradient(rgba(255,0,0,0.75), rgba(255,165,0,0.75), rgba(255,255,0,0.75), rgba(0,255,0,0.75), rgba(0,0,255,0.75), rgba(75,0,130,0.75), rgba(238,130,238,0.75));
  background-size: 150%;
}

#name-and-logo {
  text-align: center;
}

#game-name {
  font-size: 2.5em;
  font-family: "Permanent Marker", cursive;
  color: black;
}

#logo {
  width: 16em;
  height: 16em;
}

#game-description {
  line-height: 150%;
}

#homepage-buttons {
  text-align: center;
}

button {
  margin-bottom: 3em;
  width: 25%;
  height: 4em;
  background-color: rgb(170,170,170);
  font-family: "Courier New";
  font-weight: 900;
}

a {
  display: block;
}

button:hover {
  background-color: rgb(220,220,220);
  cursor: pointer;
}


input {
  margin: 1em 0 1em 0;
}

#game-menu {
  margin-top: 10%;
}

/* Profile Page */
.email {
  font-size: 1.25em;
  font-weight: 800;
}
