<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Menu</title>
  <link href="../stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body id="game-menu">
  <!-- Logout Button -->
  <a href="{{logout_url}}">
    <button style="width: 10%;">Logout</button>
  </a>

  <!-- User Profile, Leaderboard, and Question Form Buttons -->
  <h2>Player Hub</h2>
  <a href="/profile-page">
    <button id="profile-button">My Profile</button>
  </a>
  <a href="/leaderboard">
    <button id="leaderboard-button">Leaderboard</button>
  </a>
  <a href="/submit-questions">
    <button id="form-button">Submit Questions</button>
  </a>
  <!-- Game Mode Buttons -->
  <h2>Select A Game Mode</h2>
  <a href="/image-page">
    <button id="guess-the-pic">Guess the Pic!</button>
  </a>
  <a href="/game-page">
    <button id="set-of-10">Trivia</button>
  </a>
</body>

</html>
