<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/images/TheGreatBrainGameLogo.png" type="icon">
  <title>The Great Brain Game</title>
  <!-- Linking CSS File -->
  <link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
  <!-- Permanent Marker Font -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>

<body>
  <div id="name-and-logo">
    <h2 class="game-name">The Great Brain Game</h2>
    <img id="logo" src="images/TheGreatBrainGameLogo.png" alt="The Great Brain Game Logo">
  </div>

  <p id="game-description">

  </p>

  <!-- Homepage Buttons -->
  <div id="homepage-buttons">
    <button class="new-game-button">New Game</button><br>
    <a href="{{login_url}}"><button class="login-button">Login</button></a>
  </div>
</body>

</html>
