<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/images/TheGreatBrainGameLogo.png" type="icon">
  <title>The Great Brain Game</title>
  <!-- Linking CSS File -->
  <link href="/stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
  <!-- Permanent Marker Font -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>

<body id="homepage">
  <div id="name-and-logo">
    <h2 id="game-name">The Great Brain Game - Title Screen</h2>
    <img id="logo" src="images/TheGreatBrainGameLogo.png" alt="The Great Brain Game Logo">
  </div>

  <p id="game-description">
    The Great Brain Game is a trivia and puzzle game.<br>Supplied by questions of all levels of difficulty, it allows users to test their knowledge,<br>engage in critical thinking, and ultimately think outside the box.
  </p>

  <!-- Homepage Buttons -->
  <div id="homepage-buttons">
    {% if current_user %}
      <a href="/templates/game-menu.html">
        <button id="play-button">Play</button>
      </a>
      <br>
      <a href="{{logout_url}}">
        <button id="logout-button">Logout</button>
      </a>
    {% else %}
      <a href="{{login_url}}">
        <button id="login-button">Login</button>
      </a>
    {% endif %}
  </div>
</body>

</html>
