<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Game Page</title>
  <link href="../stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Button to go back to Game Menu -->
  <a href="/game-menu">
    <button class="back-button">Go Back To Menu</button>
  </a>

  <h2>What is this?</h2>
  <div class ='photos' id="myDIV">
    {% for photo in photos %}
    <div class='qna' style="display:none">
        <div class="boxed">
      <img src='{{photo.photo}}' width='70' height='70'>
      </div>
      {% for answer in photo['answers']%}
        <button data-photo-key='{{photo['photo_key']}}' class="answer" onclick="advanceQuestion(this)">{{ answer }}</button>
      {% endfor %}
    </div>
    {% endfor %}
    <div class="scoreScreen">
      <div class="score-display">
        Your Score:<br>
        <span id="score">{{user.current_image_score}}</span>
      </div>
      <a href="/image-page">
        <button>Play Again</button>
      </a>
      <a href="/game-menu">
        <button>Go Back To Menu</button>
      </a>
    </div>
  </div>



</div>

<style>
.boxed {
  border: 1px solid green ;
  width: 200;
  height: 200;
}
</style>






  <!-- Linking Javascript files -->
  <script src="../scripts/photo.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>
