<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Leaderboard</title>
  <link href="../stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Button to go back to Game Menu -->
  <a href="/game-menu">
    <button class="back-button">Go Back To Menu</button>
  </a>

  <!-- Leaderboard (Trivia) -->
  <table>
    <tr>
      <th>Name</th>
      <th>Score (Trivia)</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>{{user.score}}</td>
    </tr>
    {% endfor %}
  </table>
  <!-- Leaderboard (Guess the Pic! -->
  <table>
    <tr>
      <th>Name</th>
      <th>Score (Guess the Pic!)</th>
    </tr>
    {% for user in users2 %}
    <tr>
      <td>{{user.email}}</td>
      <td>{{user.image_high_score}}</td>
    </tr>
    {% endfor %}
  </table>

</body>

</html>
