<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Profile</title>
  <link href="../stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Button to go back to Game Menu -->
  <a href="/game-menu">
    <button class="back-button">Go Back To Menu</button>
  </a>

  <div id="profile-page">
    <!-- Slideshow with Buttons -->
    <div class="slideshow-container">
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon1.png">
        <div class="text">Frog</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon2.png">
        <div class="text">Hippo</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon3.png">
        <div class="text">Monkey</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon4.png">
        <div class="text">Bird</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon5.png">
        <div class="text">Horse</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon6.png">
        <div class="text">Fish</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon7.png">
        <div class="text">Dog</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon8.png">
        <div class="text">Sheep</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon9.png">
        <div class="text">Koala</div>
      </div>
      <div class="userIcons">
        <img class="user-icon" src="../images/user-icon10.png">
        <div class="text">Lion</div>
      </div>
      <!-- Icon Navigation Buttons -->
      <a class="prev" onclick="plusIcons(-1)">&#10094;</a>
      <a class="next" onclick="plusIcons(1)">&#10095;</a>
    </div>
<br>

    <!-- Slideshow JS -->
    <script src="../scripts/icons.js"></script>
    <p class="email">{{current_user}}</p>
    <table class="player-stats">
      <tr>
        <th>Score (Guess the Pic!)</th>
        <th>Score (Trivia)</th>
      </tr>
      <tr>
        <th>{{user.image_high_score}}</th>
        <th>{{user.score}}</th>
      </tr>
    </table>
  </div>

</body>

</html>
