<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Profile</title>
  <link href="../stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="profile-page">
    <!-- Slideshow with Buttons -->
    <div class="slideshow-container">
      <div class="mySlides">
        <img src="../images/user-icon.png">
        <div class="text">Lion</div>
      </div>

      <div class="mySlides">
        <img src="../images/user-icon2.png">
        <div class="text">Hippo</div>
      </div>

      <div class="mySlides">
        <img src="../images/user-icon3.png">
        <div class="text">Monkey</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
    <!-- Slideshow JS -->
    <script src="../scripts/icons.js"></script>
    <p class="email">{{current_user}}</p>
    <table class="player-stats">
      <tr>
        <th>Score (Timed)</th>
        <th>Score (Set of 10)</th>
      </tr>
    </table>
  </div>

</body>

</html>
