<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Profile</title>
  <link href="../stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="profile-page">
    <div class="dropdown-menu">
      <button class="drop-button">Choose Icon</button>
      <div class="dropdown-content">
        <img src="../images/user-icon.png">
        <img src="../images/user-icon2.png">
      </div>
      <br>
      <img src="../images/user-icon.png" id="user-icon">
    </div>
    <p class="email">{{current_user}}</p>
    <table class="player-stats">
      <tr>
        <th>Score (Timed)</th>
        <th>Score (Set of 10)</th>
      </tr>
    </table>
</div>

</body>

</html>
