<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Great Brain Game - Submit Form</title>
  <link href="stylesheets/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
  <form action="/" method="POST">
    <h4>Insert a question.</h4>
    <input type="text" placeholder="Question" name="submit-form-question">
    <h4>Insert 4 answer choices.</h4>
    Choice A: <input type="text" placeholder="Choice A" name="submit-form-choiceA"><br><br>
    Choice B: <input type="text" placeholder="Choice B" name="submit-form-choiceB"><br><br>
    Choice C: <input type="text" placeholder="Choice C" name="submit-form-choiceC"><br><br>
    Choice D: <input type="text" placeholder="Choice D" name="submit-form-choiceD"><br><br>
    <button id="submit-button">Submit</button>
  </form>
</body>

</html>
